.single-product-wrap:hover{
    padding: 0 !important;
    margin: 0 !important;
}

.add-actions.action__overplay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: 0;
    background: rgba(24, 23, 23, 0.24);
}

.single-product-wrap:hover:before{
    visibility: hidden;
}

.action__overplay .add-cart i{
    font-size: 27px !important; 
    color: #ffffff ;
    line-height: 35px !important;
   
}

.action__overplay .add-cart:hover i{
    font-size: 27px !important;
    color:white;
    line-height: 35px !important;
}
.action__overplay .add-actions-link li.add-cart{
    
    background: transparent !important;
    border: 1px solid white;
    margin: 5px !important;
   bottom: 0;
}


.featured-product-action.action__overplay .add-actions-link li.add-cart{
    width: 60px !important;
    height: 60px !important;
    padding: 0 !important;
    top: 30%;
    transition: all .5s;
}
.featured-product-action.action__overplay .add-actions-link li.add-cart:hover{
    padding: 5px !important;
    width: 70px !important;
    height: 70px !important;
}
.featured-product-action.action__overplay .add-actions-link li.add-cart i{
    padding: 10px;
}

.action__overplay .add-actions-link li.add-cart:hover{
    background: #0C3EDE  !important;
    border: 2px solid #ffffff;
}
.action__overplay .add-actions-link {
    padding-top: 9rem !important;
    position: absolute;
    left: 0;
    bottom: 4%;
    display: flex;
    justify-content: space-between;
}

.add-cart.active{
    position: absolute;
    bottom: 40%;
    left: 35%;
    border: 2px solid white;
    padding: 15px 20px;
    border-radius: 50%;
    transition: all .5s;
}

.add-cart.active:hover{  
    background: #0c3ee0 ;
    padding: 20px 25px;
}
.add-cart.active:hover i{  
    color: white;
    
}

/* shop */
.seller_content {
    padding: 20px 0;
}
.seller_title{
    border-bottom: 1px solid #eee;
}
.seller_title h4 {
    position: relative;
    font-family: sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: #0056b3;
    text-transform: uppercase;
}

p.seller_num {
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
}
.seller_item.about-image-wrap{
    width: 100% !important;
    text-align: center;
    padding-left: 0 !;
}